html, body {
    height: 100%
}

/*html {
  font-size: 18px;
}*/

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Garamond', 'Palatino Linotype', 'Times New Roman', serif;
}

.wrapper {
    background-color: saddlebrown;
    /* Removing this fixed the background image not attaching
    width: 100%;
    height: 100%;*/
    width: 100%;
    background-image: url('/wood.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    background-color: white;
}

.separator {
    /*border: 1px solid #ccc;*/ /* Set border properties (color, style, width) */
    /*margin: 20px 0;*/ /* Adjust the margin for spacing above and below the line */
}

.p {
    white-space: pre-line;
}